In [55]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [72]:
url = 'https://en.wikipedia.org/wiki/List_of_shopping_malls_in_Singapore'
result = requests.get(url)
doc = BeautifulSoup(result.text, 'html.parser')

In [73]:
def convert_mall(list_item):
    for link in list_item.find_all('a'):
        if link['href'].startswith("/wiki"):
            return (list_item.text, link['href'])
    return (list_item.text,"")

In [74]:
mall_links = [convert_mall(list_item) 
            for div_section in doc.find_all('div', class_='div-col') 
            for list_item in div_section.find_all('li')
        ]
mall_links

[('100 AM[1]', ''),
 ('313@Somerset[2]', ''),
 ('Aperia', ''),
 ('Balestier Hill Shopping Centre', ''),
 ('Bugis Cube[3]', ''),
 ('Bugis Junction', '/wiki/Bugis_Junction'),
 ('Bugis+', '/wiki/Bugis%2B'),
 ('Capitol Piazza', '/wiki/Capitol_Piazza'),
 ('Cathay Cineleisure Orchard', '/wiki/Cathay_Cineleisure_Orchard'),
 ('Clarke Quay Central', ''),
 ('The Centrepoint', '/wiki/The_Centrepoint'),
 ('City Square Mall', '/wiki/City_Square_Mall_(Singapore)'),
 ('City Gate Mall[4]', ''),
 ('CityLink Mall', '/wiki/CityLink_Mall'),
 ('Duo', '/wiki/DUO'),
 ('Far East Plaza', '/wiki/Far_East_Plaza'),
 ('Funan', '/wiki/Funan,_Singapore'),
 ('Great World City', '/wiki/Great_World_City'),
 ('HDB Hub', '/wiki/HDB_Hub'),
 ('Holland Village Shopping Mall', '/wiki/Holland_Village,_Singapore'),
 ('ION Orchard', '/wiki/ION_Orchard'),
 ('Junction 8', '/wiki/Junction_8_Shopping_Centre'),
 ('Knightsbridge[5]', ''),
 ('Liat Towers', '/wiki/Liat_Towers'),
 ('Lucky Plaza', '/wiki/Lucky_Plaza'),
 ('Marina Bay Sands', '/wiki/Marina_Bay_Sands'),
 ('The Shoppes at Marina Bay Sands[6]', ''),
 ('Marina Bay Link Mall', '/wiki/Marina_Bay_Link_Mall'),
 ('Marina Square', '/wiki/Marina_Square'),
 ('Millenia Walk', '/wiki/Millenia_Walk'),
 ('Mustafa Shopping Centre', '/wiki/Mustafa_Centre'),
 ('Ngee Ann City', '/wiki/Ngee_Ann_City'),
 ('One Holland Village', ''),
 ('Orchard Central', '/wiki/Orchard_Central'),
 ('Orchard Gateway', '/wiki/Orchard_Gateway'),
 ('Orchard Plaza[7]', ''),
 ('Midpoint Orchard[8]', ''),
 ('Palais Renaissance', '/wiki/Palais_Renaissance'),
 ("People's Park Centre", '/wiki/People%27s_Park_Centre'),
 ("People's Park Complex", '/wiki/People%27s_Park_Complex'),
 ('Plaza Singapura', '/wiki/Plaza_Singapura'),
 ('PoMo', ''),
 ('Raffles City', '/wiki/Raffles_City_Singapore'),
 ('Scotts Square[9]', ''),
 ('Shaw House and Centre', '/wiki/Shaw_House_and_Centre'),
 ('Sim Lim Square', '/wiki/Sim_Lim_Square'),
 ('Singapore Shopping Centre', ''),
 ('The South Beach', '/wiki/South_Beach,_Singapore'),
 ('Square 2', '/wiki/Square_2_(shopping_mall)'),
 ('Sunshine Plaza[10]', ''),
 ('Suntec City', '/wiki/Suntec_City'),
 ('Tanglin Mall[11]', ''),
 ('Tanjong Pagar Centre', '/wiki/Tanjong_Pagar_Centre'),
 ('Tekka Centre', '/wiki/Tekka_Centre'),
 ('The Adelphi', ''),
 ('The Paragon', '/wiki/The_Paragon,_Singapore'),
 ('Tiong Bahru Plaza', '/wiki/Tiong_Bahru_Plaza'),
 ('The Poiz[12]', ''),
 ('Thomson Plaza', '/wiki/Thomson_Plaza'),
 ('United Square[13]', ''),
 ('Thomson V', ''),
 ('Velocity@Novena Square', '/wiki/Novena_Square_Shopping_Mall'),
 ('Wheelock Place', '/wiki/Wheelock_Place'),
 ('Wisma Atria', '/wiki/Wisma_Atria'),
 ('Zhongshan Mall[14]', ''),
 ('Bedok Mall', '/wiki/Bedok_Mall'),
 ('Century Square', '/wiki/Century_Square'),
 ('Changi City Point', '/wiki/Changi_City_Point'),
 ('Downtown East', '/wiki/NTUC_Downtown_East'),
 ('Djitsun Mall Bedok', ''),
 ('Eastpoint Mall', '/wiki/Eastpoint_Mall,_Singapore'),
 ('Jewel Changi Airport', '/wiki/Jewel_Changi_Airport'),
 ('KINEX (formerly OneKM)', ''),
 ('Katong Shopping Centre', '/wiki/Katong_Shopping_Centre'),
 ('Katong Square[15]', ''),
 ('Kallang Wave Mall', '/wiki/Kallang_Wave_Mall'),
 ('Leisure Park Kallang', '/wiki/Leisure_Park_Kallang'),
 ('i12 Katong', '/wiki/I12_Katong'),
 ('Our Tampines Hub', '/wiki/Our_Tampines_Hub'),
 ('Parkway Parade', '/wiki/Parkway_Parade'),
 ('Pasir Ris West Plaza', ''),
 ('Paya Lebar Square', ''),
 ('Paya Lebar Quarter (PLQ)', ''),
 ('Roxy Square[16]', ''),
 ('Singpost Centre[17]', ''),
 ('Tampines 1', '/wiki/Tampines_1'),
 ('Tampines Mall', '/wiki/Tampines_Mall'),
 ('White Sands', '/wiki/White_Sands_Shopping_Mall,_Singapore'),
 ('City Plaza[18]', ''),
 ('Elias Mall[19]', ''),
 ('Loyang Point[20]', ''),
 ('888 Plaza[21]', ''),
 ('Admiralty Place', ''),
 ('AMK Hub', '/wiki/AMK_Hub'),
 ('Canberra Plaza', '/wiki/Canberra_Plaza'),
 ('Causeway Point', '/wiki/Causeway_Point'),
 ('Woodlands Civic Centre', ''),
 ('Broadway Plaza', ''),
 ('Jubilee Square', ''),
 ('Junction 8', ''),
 ('Junction Nine', ''),
 ('Marsiling Mall', ''),
 ('Northpoint City', '/wiki/Northpoint_City,_Singapore'),
 ('Sembawang Shopping Centre', '/wiki/Sembawang_Shopping_Centre'),
 ('Sun Plaza', '/wiki/Sun_Plaza,_Singapore'),
 ('Vista Point', ''),
 ('Wisteria Mall', ''),
 ('Woodlands Mart', ''),
 ('Woodlands North Plaza', ''),
 ('Buangkok Square', ''),
 ('Compass One', '/wiki/Compass_One'),
 ('Greenwich V', ''),
 ('Heartland Mall', '/wiki/Heartland_Mall'),
 ('Hougang 1', ''),
 ('Hougang Green Shopping Mall', ''),
 ('Hougang Mall', '/wiki/Hougang_Mall'),
 ('NEX', '/wiki/Nex,_Singapore'),
 ('Northshore Plaza', ''),
 ('Oasis Terraces', '/wiki/Oasis_Terraces'),
 ('Punggol Plaza', '/wiki/Punggol_Plaza'),
 ('Rivervale Mall', ''),
 ('Rivervale Plaza', ''),
 ('Sengkang Grand Mall', ''),
 ('The Seletar Mall', '/wiki/Seletar_Mall'),
 ('Upper Serangoon Shopping Centre', ''),
 ('Waterway Point', '/wiki/Waterway_Point'),
 ('myVillage At Serangoon Garden', ''),
 ('Beauty World Centre', ''),
 ('Beauty World Plaza', ''),
 ('Bukit Panjang Plaza', ''),
 ('Bukit Timah Plaza', ''),
 ('Fajar Shopping Centre', ''),
 ('Greenridge Shopping Centre', ''),
 ('Hillion Mall', ''),
 ('HillV2', ''),
 ('Junction 10', '/wiki/Junction_10'),
 ('Keat Hong Shopping Centre', ''),
 ('Limbang Shopping Centre', ''),
 ('Lot One', '/wiki/Lot_One'),
 ('Rail Mall', ''),
 ('Sunshine Place', ''),
 ('Teck Whye Shopping Centre', ''),
 ('West Mall', '/wiki/West_Mall'),
 ('Yew Tee Point', ''),
 ('Yew Tee Square', ''),
 ('VivoCity', '/wiki/VivoCity'),
 ('HarbourFront Centre', '/wiki/HarbourFront_Centre'),
 ('Alexandra Retail Centre', '/wiki/Alexandra_Retail_Centre'),
 ('321 Clementi', ''),
 ('The Clementi Mall', '/wiki/Clementi_Mall'),
 ('IMM', '/wiki/IMM_(Singapore)'),
 ('JCube', '/wiki/JCube'),
 ('Jem', '/wiki/Jem_(shopping_mall)'),
 ('Westgate', '/wiki/Westgate_(Singapore)'),
 ('Jurong Point', '/wiki/Jurong_Point_Shopping_Mall'),
 ('Pioneer Mall', '/wiki/Pioneer_Mall'),
 ('The Star Vista', '/wiki/One-north#The_Star_Vista'),
 ('Alexandra Central', ''),
 ('Anchorpoint', ''),
 ('OD Mall', ''),
 ('Boon Lay Shopping Centre', ''),
 ('Grantral Mall', ''),
 ('Fairprice Hub', ''),
 ('Gek Poh Shopping Centre', '/wiki/Gek_Poh_Shopping_Centre'),
 ('Rochester Mall', ''),
 ('Taman Jurong Shopping Centre', ''),
 ('West Coast Plaza', '/wiki/West_Coast_Plaza'),
 ('Queensway Shopping Centre', '/wiki/Queensway_Shopping_Centre'),
 ('The Rail Mall', '/wiki/The_Rail_Mall')]

In [75]:
df = pd.DataFrame(mall_links, columns=['Name', 'Link'])
df.head(10)

                             Name                              Link
0                       100 AM[1]
1                 313@Somerset[2]
2                          Aperia
3  Balestier Hill Shopping Centre
4                   Bugis Cube[3]
5                  Bugis Junction              /wiki/Bugis_Junction
6                          Bugis+                    /wiki/Bugis%2B
7                  Capitol Piazza              /wiki/Capitol_Piazza
8      Cathay Cineleisure Orchard  /wiki/Cathay_Cineleisure_Orchard
9             Clarke Quay Central

#### Add Opening Date
Retrieve opening information from mall's wiki page, if available

In [76]:
def get_opening_date(url_ext):
    url = f"https://en.wikipedia.org{url_ext}"
    result = requests.get(url)
    doc = BeautifulSoup(result.text, 'html.parser')

    # get the opening date
    opened_row = doc.find('th', string='Opened') or doc.find('th', string='Opening date')
    if opened_row:
        # Find the next sibling of the 'opened_row' which is the 'td' containing the date
        opened_date_cell = opened_row.find_next_sibling('td')
        return opened_date_cell.text or ''
    else:
        return ''

In [77]:
df['Opening Date'] = df['Link'].apply(get_opening_date)
df.head(10)

,Name,Link,Opening Date
0,100 AM[1],,
1,313@Somerset[2],,
2,Aperia,,
3,Balestier Hill Shopping Centre,,
4,Bugis Cube[3],,
5,Bugis Junction,/wiki/Bugis_Junction,"September 8, 1995; 28 years ago (1995-09-08)"
6,Bugis+,/wiki/Bugis%2B,1 June 2009 (as Iluma)
7,Capitol Piazza,/wiki/Capitol_Piazza,March 2015
8,Cathay Cineleisure Orchard,/wiki/Cathay_Cineleisure_Orchard,1997
9,Clarke Quay Central,,

#### Add Geocoordinates
Use OneMap SG API to retrieve coordinate information, if available

In [78]:
def get_geocoordinates_from_address(address: str) -> tuple:
    url = f"https://www.onemap.gov.sg/api/common/elastic/search?searchVal={address}&returnGeom=Y&getAddrDetails=Y&pageNum=1"
    
    response = requests.get(url)    
    data = response.json()

    # Check if there are results
    if data['results']:
        first_result = data['results'][0]
        latitude = first_result['LATITUDE']
        longitude = first_result['LONGITUDE']
        return (latitude, longitude)
    else:
        return ("", "")

In [79]:
df[['Latitude', 'Longitude']] = df['Name'].apply(lambda address: pd.Series(get_geocoordinates_from_address(address)))
df.head(10)

,Name,Link,Opening Date,Latitude,Longitude
0,100 AM[1],,,1.28155949555229,103.847208361003
1,313@Somerset[2],,,1.30101436404056,103.838360664485
2,Aperia,,,1.3097112065077,103.864326436447
3,Balestier Hill Shopping Centre,,,1.32559594839311,103.842571612968
4,Bugis Cube[3],,,,
5,Bugis Junction,/wiki/Bugis_Junction,"September 8, 1995; 28 years ago (1995-09-08)",1.2991371723215,103.855450325604
6,Bugis+,/wiki/Bugis%2B,1 June 2009 (as Iluma),1.30095171530648,103.855172625542
7,Capitol Piazza,/wiki/Capitol_Piazza,March 2015,1.29307884763132,103.851261982149
8,Cathay Cineleisure Orchard,/wiki/Cathay_Cineleisure_Orchard,1997,1.30149264852924,103.836406753067
9,Clarke Quay Central,,,,

In [80]:
df.describe()

              Name Link Opening Date Latitude Longitude
count          169  169          169      169       169
unique         168   91           69      143       143
top     Junction 8
freq             2   79           96       25        25

#### Save to CSV

In [81]:
df.to_csv('../data/modified/malls_dataset_v1.csv')

#### Conduct EDA + Data Cleaning
Check missing data and manually add information
- Unable to find the coordinates of 17 malls via the API. They either do not exist or have been closed down.

Of the above, the followings malls have been closed:
- The Verge
- City Vibe
- JCube
- Jurong Entertainment Centre
- Ellenborough Market
- Capitol Centre
- Amber Mansions
- Serangoon Plaza
- Specialist Shopping Centre

The coordinates of the following malls are manually added:
- Clarke Quay Central
- Scotts Shopping Centre -> Scotts Square
- Shaw House and Centre -> Shaw House
- Mandarin Gallery
- Cosford Container Park
- Change Alley

In [91]:
raw_df = pd.read_csv('../data/modified/malls_dataset_v1.csv')
raw_df = raw_df.drop(columns=['Unnamed: 0', 'Link'])
raw_df.head(10)

,Name,Opening Date,Latitude,Longitude
0,100 AM[1],NaN,1.281559,103.847208
1,313@Somerset[2],NaN,1.301014,103.838361
2,Aperia,NaN,1.309711,103.864326
3,Balestier Hill Shopping Centre,NaN,1.325596,103.842572
4,Bugis Cube[3],NaN,NaN,NaN
5,Bugis Junction,"September 8, 1995; 28 years ago (1995-09-08)",1.299137,103.855450
6,Bugis+,1 June 2009 (as Iluma),1.300952,103.855173
7,Capitol Piazza,March 2015,1.293079,103.851262
8,Cathay Cineleisure Orchard,1997,1.301493,103.836407
9,Clarke Quay Central,NaN,NaN,NaN

In [92]:
malls_no_coordinates = raw_df[raw_df['Latitude'].isna()]
malls_no_coordinates.head(5)

                             Name Opening Date  Latitude  Longitude
4                   Bugis Cube[3]          NaN       NaN        NaN
9             Clarke Quay Central          NaN       NaN        NaN
12              City Gate Mall[4]          NaN       NaN        NaN
19  Holland Village Shopping Mall          NaN       NaN        NaN
22               Knightsbridge[5]          NaN       NaN        NaN

In [93]:
malls_no_opening_dates = raw_df[raw_df['Opening Date'].isna()]
malls_no_opening_dates.head(5)

                             Name Opening Date  Latitude   Longitude
0                       100 AM[1]          NaN  1.281559  103.847208
1                 313@Somerset[2]          NaN  1.301014  103.838361
2                          Aperia          NaN  1.309711  103.864326
3  Balestier Hill Shopping Centre          NaN  1.325596  103.842572
4                   Bugis Cube[3]          NaN       NaN         NaN